main, footer {
    max-width: 600px;
    margin: 0px auto;
}

h1, h2 {
    border-bottom: 1px solid lightgray;
}

a {
    text-decoration: none;
}

img:first-child {
    width: 84px;
    vertical-align: middle;
}

img:last-child {
    width: 146px;
    vertical-align: middle;
}

footer {
    border-top: 1px solid lightgray;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

footer div {
    width: 100%;
}

.logo {
    text-align: right;
}